body {
    background: lightgrey;
    font-size: 24px;
}

ul {
    border: 3px solid black;
    padding: 20px;
    background: black;
}

li {
    display: inline;
    border: 3px solid black;
    color: white;
    padding: 10px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.218); 
}

a {
    color: white;
    text-decoration: none;
}